<p id="notice"><%= notice %></p>

<h1>Listing Leads</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Link</th>
      <th>Position title</th>
      <th>City</th>
      <th>State</th>
      <th>Languages</th>
      <th>Contact Person</th>
      <th>Contact Email</th>
      <th>Apply via</th>
      <th>Deadline</th>
      <th>Found by</th>
      <th>Applied</th>
      <th>Pending</th>
      <th>Internship</th>
      <th>Offer</th>
      <th>Wage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.company_name %></td>
        <td><%= lead.link %></td>
        <td><%= lead.position_title %></td>
        <td><%= lead.city %></td>
        <td><%= lead.state %></td>
        <td>
          <% lead.languages.each do |language| %>
            <%= language.name %>
          <% end %>
        </td>
        <td><%= lead.contact_person %></td>
        <td><%= lead.contact_email %></td>
        <td><%= lead.apply_via %></td>
        <td><%= lead.deadline %></td>
        <td><%= lead.found_by %></td>
        <td><%= lead.applied %></td>
        <td><%= lead.pending %></td>
        <td><%= lead.internship %></td>
        <td><%= lead.offer %></td>
        <td><%= lead.wage %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
